# Teacher's Code
1/*In-Class Activity #2 - Validation Check Modified.sql*
1/Project2/*Project 2 - Results Script.sql*
1/Project3/*Project 3 - Create Tables Script.sql*
1/Project3/*Project 3 - Results Script.sql*

# Swap files
*.swp
